body {
  height: 100vh;
  overflow: hidden;
}
nav {
  position: fixed;
  top: 0;
  right: 1rem;
  z-index: 100;
}
nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
nav > ul > li {
  list-style-type: none;
  padding: 0;
}
nav > ul > li:not(:last-child) {
  margin-right: 1rem;
}
nav > ul > li > a {
  text-decoration: none;
}
section {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.box {
  max-width: 50%;
  padding: 1.5rem;
  color: white;
  background: #e70072;
}
.box_para {
  margin: 0;
  font-size: 1.125rem;
}
.m-scene .scene_element {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.m-scene .scene_element--fadein {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.m-scene.is-exiting .scene_element {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleDown {
  0%   { transform: scale(5.0); }
  95%  { transform: scale(0.8); }
  100% { transform: scale(1.0); }
}
